<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjectSpinner WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ProjectSpinner WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProjectSpinner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8620541E1DA5270C00B597ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862054371DA5270C00B597ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>862054421DA5270C00B597ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8620544B1DA5270C00B597ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
